$variables: (
 body: (
  color: #2b2b2b,
 ),
 symbol: (
  diameter: 352px,
  outline-color: #ee4712,
  outline-width-ratio: 0.05682,
 ),
 curve: (
  diameter: 76.3578%,
 ),
 global: (
  font-size: 62.5%,
 ),
);
